<h1>Orbit Report</h1>

<div class="search-form">
	Search: <input #searchTerm type="text" (keyup.enter)="search(searchTerm.value);" name="searchTerm"/>
	<button (click)="search(searchTerm.value);">Search</button>
</div>

<app-orbit-counts [satellites]="displayList"></app-orbit-counts>
<!--There was, above, the following addition to the app-orbit-counts tag: [satellites]="displayList" :: did I add that mistakenly? was it there already? for now, I'm deleting it and adding this note to consider later.-->

<!-- TODO 1: add list component to app HTML -->
<app-orbit-list [satellites]="displayList"></app-orbit-list>
